<?xml version="1.0"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.apprenda.com/SettingsXmlDoc">
  <Settings>
    <SettingDefinition name="Application Name" value="timecard" />
    <SettingDefinition name="Application Alias" value="tc" />
    <SettingDefinition name="Private Root" value="root" />
    <SettingDefinition name="Public Root" />
    <SettingDefinition name="Extention Filter" value=".sln;.vb;.cs;.h;.cpp;.pdb;.obj;.dep;.idb" />
    <SettingDefinition name="Build Config" value="Debug" />
    <SettingDefinition name="Archive Output Path" value="C:\Users\jgiffin\Documents\demo\TimeCard Source\Archive.zip" />
    <SettingDefinition name="Application Provisioning Script" value="C:\Users\jgiffin\Documents\demo\TimeCard Source\ApplicationProvisioning_Script.sql" />
    <SettingDefinition name="Tennant Provisioning Script" />
    <SettingDefinition name="Services" value="TimeCard.Service," />
    <SettingDefinition name="Version Alias" />
    <SettingDefinition name="Version Name" />
    <SettingDefinition name="Tenant Provisioning Script" />
  </Settings>
</root>